
.tableContainer {
    width: 400px;
    padding: 50px;
    padding-top: 20px;
    text-align: center;
    display: grid;
    margin-right: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;}

.bitcoinOwnedContainer{
    background-color: rgb(223, 223, 223);
    width: 100%;
}

.bitcoinOwned{
    text-align: center;
}

.value{
    text-align: center;
}