<mat-toolbar class="mat-elevation-z6">
  <span>
    <mat-icon>
      monetization_on
    </mat-icon> Bitcoin Demo
  </span>

  <div class="spacer"></div>
  <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
  <a mat-button routerLink="/bitcoin-details" routerLinkActive="active">Bitcoin details</a>
  <a mat-button routerLink="/umrechner" routerLinkActive="active">Bitcoin Umrechner</a>
  <a mat-button routerLink="/charts" routerLinkActive="active">Bitcoin Diagramm</a>
  <a mat-button routerLink="/meine-bitcoin" routerLinkActive="active">Meine Bitcoin</a>
</mat-toolbar>