<div class="coverterContainer">

    <div>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Amount to convert</mat-label>
            <input #amountToConvert matInput type="number" placeholder="Input Amount to convert"
                (keyup.enter)="convertAmount(selectedCurrency, amountToConvert.value)">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>currency</mat-label>
            <mat-select [(value)]="selectedCurrency" placeholder="Select currency">
                <mat-option *ngFor="let currency of currencies" [value]="currency">
                    {{currency}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button (click)="convertAmount(selectedCurrency, amountToConvert.value)"
            color="accent">convert to btc</button>
    </div>

    <div class="conversionResult">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Value: </mat-label>
            <textarea matInput rows="1">{{amountInBtc}}</textarea>
        </mat-form-field>

    </div>
</div>