.coverterContainer {
    width: 300px;
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: auto;
    margin-top: 70px;
}

.conversionResult{
    margin-top: 25px;
}

.mat-raised-button {
    width: 100%;
}


.mat-form-field {
    width: 100%;
  }  
